<!--<table>-->
    <!--<tr>-->
        <!--<td>Id</td><td>{{empleado.id}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Nombre</td><td>{{empleado.name}}</td>-->
    <!--</tr> -->
    <!--<tr>-->
        <!--<td>Salario</td><td>{{empleado.salary}}</td>-->
    <!--</tr>-->
<!--</table>-->
<!--<form novalidate>-->
    Id: <input type="text" ng-model="empleado.id" /><br />
    Nombre: <input type="text" ng-model="empleado.name" /><br />
    Salario: <input type="text" ng-model="empleado.salary" />
    <!--<button ng-click="reset()">RESET</button>-->
    <button ng-click="updateEmpleado()">Update</button>
<!--</form>-->
